.slider
{
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    /* bottom: 20%; */
}

.slide-track
{
    display: flex;
    width: calc(250px*10);
    animation: scroll 40s linear infinite;
    height: 10%;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*5));
    }
}

.slide
{
    /* height: 20px; */
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    
}

img
{
    /* width: 200%; */
    transition: transform 1s;
    cursor: pointer;
}

img:hover{
    transform: translateZ(20px);
}

.slider::after,.slider::before{
    background: linear-gradient(to right,rgba(255,255,255,1)0%,rgba(255,255,255,0)100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}

.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}